DATABASE_URL=postgresql://usuario:senha@host:5432/banco
ADMIN_USUARIO=Senzalitos
ADMIN_SENHA=Africanos
MP_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=https://pizzaria-asml.github.io/Pizzaria
PORT=3000
MP_NOTIFICATION_URL=https://seu-dominio.com/api/mp/webhook
